::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: @grey;
}

.inputField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: @globalSpace;

  p {
    margin: 0;
    padding: @globalSpace;
    font-size: 0.8em;
  }

  &__label { 
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding: @paddingTopBottom;

    span { 
      color: @red;
    }
  }

  label {
    color: @blue;
    text-transform: uppercase;
  }

  &__input {
    max-width: 100%;
    font-size: 0.8rem;
    padding: @globalSpace;
    border: 1px solid @grey;
  }

  &__group {
    flex-direction: row;
    display: flex;
    align-items: center;
    
    label {
      padding: @paddingTopBottom;
      margin-right: @globalSpace;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    input {
      margin-right: @globalSpace;
      max-width: 50%;
    }

    span { 
      margin-left: @globalSpace;
    }

  }

  .event__fee {
    max-width: 50%;
  }

  &__picker {
    flex: 1;
    border: 1px solid @grey;
    overflow: hidden;
    background: @white url("../../../assets/image/arrow_down.png") no-repeat 98% 50%;
    background-size: @globalSpace;

    select {
      padding: @globalSpace;
      width: 100%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
    }
  }

  &__radio {
    display: flex;
    flex-direction: row;
    margin-left: @globalSpace;
  }

  textarea { 
    height: 10em;
    resize: none
  }

  .validation {
    &__error {
      color: @white;
      background: @valid;
      margin: @globalSpace 0;
      font-weight: bold;
    }
  }
}

.mobileColumn {
   flex-direction: column
}

.informSpan {
  text-align: right;
  color: darken(@grey, 30%);
  margin: @globalSpace 0;
  max-width: 100%;
  width: 100%;
  display: block;
  font-size: 0.75rem;
}